main {
	.our-work {
		padding: 20px var(--px);
		display: flex;
		flex-direction: column;

		.work {
			margin-bottom: 2rem;
			h1 {
				color: black;
				font-size: 3rem;
				text-align: center;
			}
		}
		.grid {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			img {
				width: 90%;
				height: 90%;
			}
			h1 {
				color: black;
				margin-top: 15px;
				text-align: center;
			}
		}
	}

	.digital {
		padding: 20px var(--px);
		margin-top: var(--mb);
		display: flex;
		flex-direction: column;

		.divide {
			margin-bottom: 2rem;
			h1 {
				color: black;
				font-size: 3rem;
				text-align: center;
			}
		}
		.text-items {
			display: grid;
			grid-template-columns: 1fr 1fr;
			img {
				width: 100%;
				height: 100%;
				border: 5px solid #555;
				border-radius: 21% 79% 35% 62% / 22% 25% 75% 44%;
			}
			.list-items {
				padding: 0 50px;
				ul li {
					font-size: 30px;
				}
				ul li p {
					font-size: 26px;
					color: black;
					text-align: justify;
				}
			}
		}
	}
	.steam {
		padding: 120px var(--px);
		margin-top: var(--mb);
		background: url(./images/boot.png);
		background-size: cover;
		.heading h1 {
			font-size: 4rem;
			color: white;
			margin-bottom: 3rem;
		}
		.skills {
			font-size: 2.3rem;
			color: white;
			.code {
				margin-bottom: 2rem;
				p {
					font-weight: 900;
				}
			}
			.date {
				p {
					font-weight: 300;
					font-size: 2rem;
				}
			}
		}

		.button-classes {
			display: flex;
			gap: 2.5rem;
			margin-top: 4rem;
			button {
				background-image: linear-gradient(
					to right,
					#000428 0%,
					#004e92 51%,
					#000428 100%
				);
				border: none;
				transition: 0.5s;
				background-size: 200% auto;
				color: white;
				padding: 15px 32px;
				text-align: center;
				text-decoration: none;
				display: inline-block;
				font-size: 16px;
				border-radius: 40px;
				cursor: pointer;
				&:hover {
					background-position: right center; /* change the direction of the change here */
					color: #fff;
					text-decoration: none;
				}
			}
		}
	}
}

@media screen and (max-width: 375px) {
	main {
		.our-work {
			padding: 10px 25px;
			margin-top: -30px;
			.work {
				margin-bottom: 1.5rem;
				h1 {
					font-size: 2rem;
				}
			}
			.grid {
				display: grid;
				grid-template-columns: 1fr !important;
				gap: 3rem !important;
				img {
					width: 100%;
					height: 100%;
				}
				h1 {
					margin-top: 5px;
				}
			}
		}

		.digital {
			padding: 10px 25px;
			.divide {
				h1 {
					font-size: 2rem;
				}
			}
			.text-items {
				display: grid;
				grid-template-columns: 1fr;
				.list-items {
					padding: 0 25px;
					ul li p {
						font-size: 20px;
					}
				}
			}
		}

		.steam {
			padding: 30px 25px;
			.heading h1 {
				font-size: 2rem;
			}
			.skills {
				font-size: 1.5rem;
				.date {
					p {
						font-size: 1.5rem;
					}
				}
			}
			.button-classes {
				display: flex;
				flex-direction: column;
				// align-items: center;
				justify-content: center;
				gap: 2rem;
				width: 40%;
				button {
					text-align: center;
					padding: 10px 27px;
					font-size: 10px;
				}
			}
		}
	}
}

@media screen and (max-width: 1200px) {
	:root {
		--px: 40px;
		--mb: 80px;
	}
	main {
		.our-work {
			padding: 20px var(--px);
			margin-top: -1.5rem;
			.work {
				margin-bottom: 1.5rem;
			}
		}
	}
}

@media screen and (max-width: 1000px) {
	main {
		.steam {
			padding: 20px 40px;
		}
	}
}

@media screen and (max-width: 980px) {
	main {
		.our-work {
			padding: 20px 40px;
		}
	}
}

@media screen and (max-width: 765px) {
	main {
		.our-work {
			padding: 20px 30px;
			.grid {
				display: grid;
				grid-template-columns: 1fr 1fr;
				gap: 1.5rem;
				img {
					width: 100%;
				}
			}
		}
		.digital {
			padding: 20px 30px;
			.text-items {
				display: grid;
				grid-template-columns: 1fr;
				gap: 1.5rem;
			}
		}
		.steam {
			padding: 20px 30px;
			.heading h1 {
				font-size: 3rem;
			}
		}
	}
}

@media screen and (max-width: 576px) {
	main {
		.our-work {
			.grid {
				display: grid;
				grid-template-columns: 1fr;
				gap: 2rem;
			}
		}
	}
}

@media screen and (max-width: 480px) {
	main {
		.digital {
			padding: 10px 30px;
			.divide {
				h1 {
					font-size: 2rem;
				}
			}
			.text-items {
				.list-items {
					ul li p {
						font-size: 18px;
					}
				}
			}
		}
		.steam {
			padding: 10px 30px;
			.button-classes {
				display: flex;
				flex-direction: column;
				width: 50%;
			}
		}
	}
}
