@media screen and (max-width: 1000px) {
	header {
		padding: 60px 60px;
		background: url(./images/background.png) no-repeat;
		background-size: contain;
		ul {
			gap: 1rem;
		}
		.logo img {
			margin-top: -10px;
			height: 50%;
			width: 50%;
		}
		.navbar {
			margin-top: 0;
			li {
				font-size: 16px;
			}
		}
	}
}

@media screen and (max-width: 375px) {
	:root {
		--hero-bg-color: rgb(29, 158, 235);
		--px: 25px; /*padding left n right*/
		--mb: 100px; /* margin bottom*/
	}
	.main-container {
		max-width: 375px;
		margin: auto;
	}
	header {
		min-height: 100%;
		background: url(./images/mobile-bg.png);
		background-size: cover;
		padding: 25px var(--px);
		margin-bottom: var(--mb);
		.navigation {
			display: none;
		}

		.mobile-nav {
			display: block;
			display: flex;
			justify-content: space-between;
			.mobile-logo {
				width: 50%;
			}
		}
		.hero {
			margin-top: 70px;
			width: 100%;
			.text-body h1 {
				font-size: 16px;
			}
			.btn {
				width: 40%;
				display: flex;
				flex-direction: column;
				gap: 1rem;
				margin-top: 40px;
				button {
					padding: 10px 27px;
					font-size: 10px;
				}
			}
		}
	}
}
